.answer-page {
  margin: 0 auto;
  min-width: 980px;
  width: 80vw;
  height: auto;

  .editor {
    min-height: 500px;
  }

  .actions {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
}
